[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/getzola/hyde.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/VersBinarii/hermit_zola
[submodule "themes/hermit-zbrox"]
	path = themes/hermit-zbrox
	url = https://github.com/zbrox/hermit_zola
